<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ArtistAdd</title>
  </head>
  <body>
<p>Artist Add Page</p>
<ul>
  <a href="#!home"><button class ="btn">HOME</button></a>
  <a href="#!venuelist"><button class ="btn">Venue List</button></a>
  <a href="#!artistlist"><button class ="btn">Artist List</button></a>
</ul>


<input type="text" placeholder= "Artist Name"ng-model= "ic.name">
<input type="text" placeholder= "Description" ng-model= "ic.description">
<input type="text" placeholder= "Reviews" ng-model= "ic.review">
<input type="text" placeholder= "Photo URL" ng-model= "ic.photo">
<input type="text" placeholder= "Upcoming Shows" ng-model= "ic.upcomingShows">
<a href="#!artistlist"><button class ="btn" ng-click = "ic.addArtist()">Submit</button></a>
  </body>
</html>
