<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div id="left"></div>
    <div id="right"></div>
    <div class="missionStatement">
      <p> C_indie Music is a free open source webpage designed to help fans find the music!
        Here you can browse reviews and info about Twin Cities artists and venues.
        All has been provided by you the fan! If you know of a musician or a place to see music and its not
        listed....add it to the list!! Keep in mind art is and always will be "in the eye of
        the beholder". We here at C_indie Music implore you to be real without being unfavorable
        or adverse. Like Craig Finn says..."Stay Positive!!"</p>
    </div>
    <div class="homepageEvents">
        <div class="line" align="center"></div>
          <h3>Upcoming Events</h3>
        <div class="line" align="center"></div>
          <p>Stone Arch</p>
          <p> Lowertown Guitar</p>
          <p>Twin Cities Jazz Festiville 6/23</p>
    </div>
    <div class="podcast">
        <div class="line" align="center"></div>
          <h3>Podcast Links</h3>
        <div class="line" align="center"></div>
          <button class = "realphonic" onclick='window.open("https://static1.squarespace.com/static/53f0e77ce4b0cc6081ee7185/t/54888abae4b067b97088146b/1418234554678/real+phonic+instudio+2.mp3/original/real+phonic+instudio+2.mp3" ,  "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400" )'><img class= "real" src="http://static1.squarespace.com/static/53f0e77ce4b0cc6081ee7185/t/547136d6e4b0d1dec986dc15/1438790380015/?format=1500w"
                  style="width:200px; height:auto; ">
          </button>
          <button class = "kingsSpeech" onclick='window.open("http://play.publicradio.org/api-2.0.1/o/minnesota/the_current/programs/2017/05/15/kings_speech_20170515_128.mp3" ,  "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400" )'><img class= "daveKing" src="http://daveking.net/img/DKnoNav.jpg"
                  style="width:auto; height:150px; ">
          </button>
    </div>
    <div class="monthlyArtist">


      <div class="line" align="center"></div>
        <h3>Featured Monthy Artist</h3>
      <div class="line" align="center"></div>

        <a href="http://chastitybrownmusic.com/" target="_blank">Chatity Brown</a>



    </div>
  </body>
</html>
