<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div id="left"></div>
    <div id="right"></div>
    <div class="missionStatement">
      <h3>Home Page Mission Statement</h3>
    </div>
    <div class="homepageEvents">
      <h3>Upcoming Events</h3>
    </div>
    <div class="podcast">
      <h3>Podcast Links</h3>
            <button class = "realphonic" onclick='window.open("https://static1.squarespace.com/static/53f0e77ce4b0cc6081ee7185/t/54888abae4b067b97088146b/1418234554678/real+phonic+instudio+2.mp3/original/real+phonic+instudio+2.mp3" ,  "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400" )'><img src="http://static1.squarespace.com/static/53f0e77ce4b0cc6081ee7185/t/547136d6e4b0d1dec986dc15/1438790380015/?format=1500w" style="width:200px; height:auto; "></button>

    </div>
    <div class="monthlyArtist">
      <h3>Featured Monthy Artist</h3>
    </div>
  </body>
</html>
