<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VenueAdd</title>
  </head>
  <body>
    <div id="left"></div>
    <div id="right"></div>
    <div class="line"></div>
    <h3>Add A Venue</h3>
    <div class="line"></div>
    <br>
    <br>
    <div class="addVenue">
      <input type="text" size= "120" placeholder= "Venue Name"ng-model= "ic.name">
      <br>
      <br>
      <input type="text"size= "120" placeholder= "Address" ng-model= "ic.address">
      <br>
      <br>
      <input type="text" size= "120" placeholder= "Tell Us About It" ng-model= "ic.description">
      <br>
      <br>
      <input type="text" size= "120" placeholder= "Tricks and Tips" ng-model= "ic.review">
      <br>
      <br>
      <input type="text" size= "120"placeholder= "Upcoming Events" ng-model= "ic.upcomingEvent">
      <br>
      <br>
      <input type="text" size= "120"placeholder= "Added By:" ng-model= "ic.addedBy">
    <div class="uploadPhotoButton">
      <button class ="btn" float= "left" ng-click = "ic.uploadPhoto()">Upload A Photo</button>
      <h3>{{ic.photoIsUpLoaded}}</h3>
    </div>
  </div>
  <div class="addVenueButton">
    <a href="#!venuelist"><button class ="btn" ng-click = "ic.addVenue()">Submit</button></a>
  </div>
  </body>
</html>
