<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VenueList</title>
  </head>
  <body>
    <div id="left"></div>
    <div id="right"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="line"></div>
    <h3>Venues</h3>
    <div class="line"></div>
    <br>
<div class = "container row">
    <div ng-repeat='data in ic.venue' class="col-sm-6" >
      <div class="listView">
        <ul>
          <li><a ng-href="#!venueview/{{data._id}}"> {{data.name}} </a></li>
        </ul>
      </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>
</html>
