<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VenueAdd</title>
  </head>
  <body>
    <div id="left"></div>
    <div id="right"></div>
    <div class="addVenue">
      <input type="text" size= "120" placeholder= "Venue Name"ng-model= "ic.name">
      <br>
      <input type="text"size= "120" placeholder= "Address" ng-model= "ic.address">
      <br>
      <input type="text" size= "120" placeholder= "Description" ng-model= "ic.description[0].content">
      <br>
      <input type="text" size= "120" placeholder= "Reviews and Tips" ng-model= "ic.review[0].content">
      <br>
      <input type="text" size= "120"placeholder= "Upcoming Events" ng-model= "ic.upcomingEvent[0].content">
      <br>
      <button class ="btn" ng-click = "ic.uploadPhoto()">Upload Photo</button>
      <br>
      <a href="#!venuelist"><button class ="btn" ng-click = "ic.addVenue()">Submit</button></a>
  </div>
  </body>
</html>
