<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VenueView</title>
  </head>
  <body>
  <div ng-repeat='venue in ic.venueDetails' class="" >
    <div id="left"></div>
    <div id="right"></div>
      <h1> {{venue.name}} </h1>
      <h2> {{venue.address}} </h2>
    <div class="line"></div>
    <h3>Photos</h3>
    <div class="line"></div>
    <div ng-repeat='photo in venue.photo' class="ngRepeatsEven col-sm-2" >
      <h5>{{photo.authorId}}</h5>
      <h5>{{photo.dateEntered|date}}</h5>
      <img src="{{photo.content}}" class="thumbnail" height="100" width="100" margin-left:"200px"  />
    </div>
      <hr width=100%>
    <div class= "newPhotoUpload">
      <input type="text"  placeholder= "You Are..." ng-model= "ic.newPhoto.authorId">
      <button  class ="btn" ng-click = "ic.uploadPhoto()">Upload Photo</button>
    </div>
    <div class="line" align="center"></div>
      <h3>Tell Us About the {{venue.name}}</h3>
    <div class="line"></div>
    <div ng-repeat='description in venue.description' class="ngRepeatsOdd" >
      <h5>{{description.authorId}}</h5>
      <h5>{{description.dateEntered|date}}</h5>
        <ul>
          <li>{{description.content}}</li>
        </ul>
    </div>
    <div class="newDescriptionUpload">
      <input type="text" size="120" rows= "two" placeholder= "Tell Us About It" ng-model= "ic.newDescription.content">
      <input type="text" placeholder=  "You Are..." ng-model= "ic.newDescription.authorId">
      <button class ="btn" ng-click = "ic.updateVenueDescription()">Submit</button>
    </div>
    <div class="line"></div>
    <h3>Tips and Tricks</h3>
    <div class="line"></div>
     <div ng-repeat='review in venue.review' class="ngRepeatsEven" >
       <h5>{{review.authorId}}</h5>
       <h5>{{review.dateEntered|date}}</h5>
          <ul>
            <li> {{review.content}}</li>
          </ul>
    </div>
    <div class= "tipsAndTricks">
      <input type="text" size="120" placeholder= "Your Tips and Tricks" ng-model= "ic.newReview.content">
      <input type="text" placeholder= "You Are..." ng-model= "ic.newReview.authorId">
      <button class ="btn" ng-click = "ic.updateVenueReviews()">Submit</button>
    </div>
    <div class="line"></div>
    <h3>Upcoming Events</h3>
    <div class="line"></div>
      <div ng-repeat='upcomingEvent in venue.upcomingEvent' class="ngRepeatsOdd" >
        <h5>{{upcomingEvent.authorId}}</h5>
        <h5>{{upcomingEvent.dateEntered|date}}</h5>
          <ul>
            <li>{{upcomingEvent.content}}</li>
          </ul>
      </div>
      <div class= "upcomingEvents">
        <input type="text" size="120" placeholder= "Add A Upcoming Event" ng-model= "ic.newUpcomingEvent.content">
        <input type="text" placeholder= "Enter User Name" ng-model= "ic.newUpcomingEvent.authorId">
        <button class ="btn" ng-click = "ic.updateUpcomingEvent()">Submit</button>
      </div>
  </div>
</body>
</html>
